<a href="https://colab.research.google.com/github/ashkanb77/news-category-prediction/blob/main/news_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv('per.csv')

In [ ]:
data.head()

   NewsID  ...  Category2
0  843656  ...   \nآموزشي
1  837144  ...   \nآموزشي
2  436862  ...   \nآموزشي
3  227781  ...  \nاجتماعي
4  174187  ...   \nآموزشي

[5 rows x 7 columns]

In [ ]:
with open('stopwords.txt', 'r') as file:
  stopwords = file.readlines()
stopwords = list(map(lambda a: a.replace('\n', ''), stopwords))

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
nltk_stopwords = nltk.corpus.stopwords.words('english')

In [ ]:
stopwords.extend(nltk_stopwords)

In [ ]:
! pip install hazm

Requirement already satisfied: hazm in /usr/local/lib/python3.7/dist-packages (0.7.0)
Requirement already satisfied: nltk==3.3 in /usr/local/lib/python3.7/dist-packages (from hazm) (3.3)
Requirement already satisfied: libwapiti>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from hazm) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.3->hazm) (1.15.0)

In [ ]:
import hazm

In [ ]:
stemmer = hazm.Stemmer()

In [ ]:
stemmer.stem('گلها')

'گل'

In [ ]:
from hazm import word_tokenize

In [ ]:
dataset = pd.DataFrame(columns=('title_body', 'category'))

In [ ]:
for index, row in data.iterrows():
  title_body = row['Title'] + ' ' + row['Body']
  title_body = word_tokenize(title_body)
  title_body = [stemmer.stem(word) for word in title_body if word not in stopwords]
  dataset.loc[index] = {
      'title_body': ' '.join(title_body),
      'category' : row['Category2'].replace('\n', '')
  }

In [ ]:
dataset.head()

                                          title_body category
0  وزير علو درجمع استاد نمونه سن بازنشستگي استاد ...   آموزشي
1  گردهمايي دانش‌آموختگ موسسه آموز عالي سوره برگز...   آموزشي
2  نتايج آزمون دوره‌هاي فراگير دانشگاه پيام‌نور ن...   آموزشي
3  هماي يكروزه آسيب شناسي مفهو روابط عمومي بابلسر...  اجتماعي
4  وضعي اقتصادي ميز تحصيل والدين مهمترين عوامل مو...   آموزشي

In [ ]:
dataset.iloc[0].title_body

'وزير علو درجمع استاد نمونه سن بازنشستگي استاد نمونه 70 سال افزاي مي\u200cيابد دانشگاه بايد مهد چالشهاي گفتماني خط دهنده برنامه\u200cريز جري سياسي وزير علو جمع استاد نمونه كشور استاد نمونه كشور انتظار مي\u200cرود كه رويكرد دانايي محوري گف علمي يك بحث فرهنگي دانشگاه توسعه رونق بخشند گزار سرويس صنفي آموزشي خبرگزاري دانشجوي اير ايسنا دك محمد مهدي زاهدي اولين مجمع عمومي استاد نمونه دانشگاه\u200cهاي كشور كه دانشگاه تهر برگزار توصيه تلا براي دانايي محوري توسعه گف علمي معني تمايل مباحث سياسي نيس بلكه برعكس دانشگاه بايد مهد چالشهاي گفتماني ولي اين امر معني نيس كه دانشگاه ابزار دس سياسيون قرار بگيرد وي تأكيد كرد دانشگاه نبايد تأثير القائ سياسي قرار بگيرد بلكه بايد خط دهنده برنامه\u200cريز جري سياسي مهمترين عنصر پياده اين آر دانشجوي اعضاي هي علمي دانشگاه رأس استاد نمونه وزير علو ذكر اين نكته كه جامعه اطلاعاتي نمي\u200cتو هيچ تفكري تهديد ارعاب حاك كرد دانشگاه بايد پرچمدار كرسيهاي آزاد انديشي حاكمي دانايي محوري بايد توجه داشته_باشند كه ناخودآگاه تأثير جوسازي القائ رسانه قرار نگيرند دك زاهدي اقدا ارتقاي جايگاه استاد نمونه اشاره كرد بنياد نخبگ استاد نمونه مصاديق نخبگ شناخته_شدند اين امر لحاظ معنوي اهمي ويژهاي شوراي عالي انقلاب فرهنگي نيز براي اعضاي هيأ علمي مرتبه علمي استاد تمامي بويژه استاد نمونه تسهيل مناسبي نظر كه اميدوار بزودي تصويب وي همچنين قرار تصويب هيأ امناي دانشگاه افزاي سن بازنشستگي استاد نمونه 65 70 سال دانشگاه بتوانند ظرفي علمي استاد نمونه حداكثر بكنند وزير علو ادامه استاد نمونه تعريف تعيين شاخصهاي لاز براي انتخاب استاد نمونه بازنگري كنند استاد ترويج فرهنگ علمي دانشگاه كنار آموزشي پژوهشي يك شاخص نظر بگيرند دك زاهدي پاي قول كه مشاوره راهنمايي كه اطاق فكر استاد نمونه بيرون بيايد وسواس دق تصمي گيري لحاظ'

In [ ]:
dataset.to_csv('drive/MyDrive/datasets/news.csv', index=False)

In [2]:
dataset = pd.read_csv('drive/MyDrive/datasets/news.csv')

In [3]:
dataset.head()

                                          title_body category
0  وزير علو درجمع استاد نمونه سن بازنشستگي استاد ...   آموزشي
1  گردهمايي دانش‌آموختگ موسسه آموز عالي سوره برگز...   آموزشي
2  نتايج آزمون دوره‌هاي فراگير دانشگاه پيام‌نور ن...   آموزشي
3  هماي يكروزه آسيب شناسي مفهو روابط عمومي بابلسر...  اجتماعي
4  وضعي اقتصادي ميز تحصيل والدين مهمترين عوامل مو...   آموزشي

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [5]:
vectorize = TfidfVectorizer()

In [6]:
X = vectorize.fit_transform(dataset['title_body'])

In [7]:
X

<10999x60814 sparse matrix of type '<class 'numpy.float64'>'
	with 1785147 stored elements in Compressed Sparse Row format>

In [8]:
X.max()

0.9988702086217528

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
encoder = LabelEncoder()

In [11]:
y = encoder.fit_transform(dataset['category'])

In [12]:
y

array([ 0,  0,  0, ..., 10, 10, 10])

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.85)

In [15]:
from sklearn import svm

In [16]:
svmc = svm.SVC()
svmc.fit(X_train, y_train)

SVC()

In [17]:
svmc.score(X_test, y_test)

0.8357575757575758

In [18]:
from sklearn.metrics import classification_report, confusion_matrix

In [19]:
y_test_pred = svmc.predict(X_test)

In [20]:
print(classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.85      0.88      0.86       156
           1       0.55      0.62      0.58       141
           2       0.86      0.76      0.81       172
           3       0.83      0.91      0.87       132
           4       0.91      0.91      0.91       151
           5       0.82      0.76      0.79       141
           6       0.77      0.77      0.77       143
           7       0.81      0.87      0.84       154
           8       0.88      0.83      0.86       143
           9       0.94      0.92      0.93       155
          10       0.97      0.95      0.96       162

    accuracy                           0.84      1650
   macro avg       0.84      0.83      0.83      1650
weighted avg       0.84      0.84      0.84      1650

In [21]:
confusion_matrix(y_test, y_test_pred)

array([[137,   5,   0,   1,   0,   0,  10,   3,   0,   0,   0],
       [  8,  87,  11,   3,   5,   1,   5,  12,   6,   2,   1],
       [  1,  22, 131,   2,   0,   3,   6,   4,   2,   1,   0],
       [  0,   6,   0, 120,   0,   0,   4,   1,   0,   0,   1],
       [  3,   1,   0,   0, 138,   6,   0,   2,   0,   1,   0],
       [  1,   9,   1,   2,   8, 107,   1,   4,   8,   0,   0],
       [  7,   4,   5,  11,   0,   2, 110,   3,   0,   0,   1],
       [  2,  10,   0,   1,   0,   1,   2, 134,   0,   3,   1],
       [  2,   5,   0,   2,   0,  11,   2,   0, 119,   2,   0],
       [  0,   6,   3,   1,   1,   0,   0,   2,   0, 142,   0],
       [  0,   3,   1,   1,   0,   0,   2,   1,   0,   0, 154]])